body{
    background-color: #93BFCF;
}
.img1{
    border-radius: 100%;  
}
h1{
    font-size: 75px; 
    color: #645CBB ;
}
p{
    font-size: 25px;
}
.hr1{
    width: 1;
    color: #BDCDD6;
    border-style: none;
    border-top: dotted;
    border-width: 5px;
}
.hr2{
    width: 1;
    color: #BDCDD6;
}
h2{
    font-size: 45px;
}
.a{
    list-style: square;
    font-size: 25px;
}
.b{
    font-size: 25px;
}
ol{
    font-size: 35px;
    
}

.h3{
    text-align-last: right;
    font-size: 30px;
    color: blue;
}
h3{
    font-size: 25px;
}